* { box-sizing: border-box; }
body {
  background: #fff;
  padding: 0;
  margin: 0;
  font: 18px/1.4 sans-serif;
  padding: 15px;
  color: #666;
}

.page {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  background: #fff;
  padding: 18px 25px 20px;
  box-shadow: 0 0 15px rgba(0,0,0,.4);
  border-radius: 4px;
}

a {
  color: #519d90;
  text-decoration: none;
}
.content {
  text-align: center;
  padding: 10px 0;
}

.menu {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-width: 1px 0 1px;
  margin: 0 -25px 20px -25px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 42px;
}
.menu a {
  margin: 0 10px;
}
.menu img {
  width: 20px;
  display: block;
  filter: invert(51%) sepia(54%) saturate(321%) hue-rotate(120deg) brightness(97%) contrast(87%);
}
.menu a:hover img {
  filter: invert(50%);
}

.logo {
  margin: 0 0 25px;
  font-size: 65px;
  font-weight: 400;
  text-shadow: 1px 1px 0 #D9E4EC, 2px 2px 0 #C4D2E1;
  letter-spacing: 3px;
  color: #519d90;
  display: block;
  padding: 0;
}
.logo > span {
  display: inline-block;
  transform: rotateY(90deg);
  transition: transform .4s;
  animation-fill-mode: forwards;
}
.logo:hover > span {
  transform: rotateY(360deg);
}

.logo span:nth-child(1) {
  animation: 0.5s ease-out 0s 1 slideInFromLeft forwards;
}
.logo span:nth-child(2) {
  animation: 0.5s ease-out 0.1s 1 slideInFromLeft forwards;
}
.logo span:nth-child(3) {
  animation: 0.5s ease-out 0.2s 1 slideInFromLeft forwards;
}
.logo span:nth-child(4) {
  animation: 0.5s ease-out 0.3s 1 slideInFromLeft forwards;
}
.logo span:nth-child(5) {
  animation: 0.7s ease-out 0.4s 1 slideInFromLeft forwards;
}
.logo span:nth-child(6) {
  animation: 0.7s ease-out 0.5s 1 slideInFromLeft forwards;
}
.logo span:nth-child(7) {
  animation: 0.8s ease-out 0.6s 1 slideInFromLeft forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 800px) {
  .page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#bgCanvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}


@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #c4d1d7;
  }
  .page {
    background: #1c1c1c;
    box-shadow: 0 0 15px rgba(0, 126, 255, 0.4);
  }
  .logo {
    text-shadow: 1px 1px 0 #003962, 2px 2px 0 #00518A;
    color: #00afff;
  }
  .menu {
    background: rgb(0, 31, 53);
    border: 1px solid rgb(0, 61, 104);
  }
  .menu img {
    filter: invert(55%) sepia(51%) saturate(3843%) hue-rotate(168deg) brightness(100%) contrast(108%);
  }
}
